config SHIELD_KEYBOARDV3_LEFT
    def_bool $(shields_list_contains,keyboardv3_left)

config SHIELD_KEYBOARDV3_RIGHT
    def_bool $(shields_list_contains,keyboardv3_right)

config SHIELD_KEYBOARDV3
    def_bool SHIELD_KEYBOARDV3_LEFT || SHIELD_KEYBOARDV3_RIGHT
